<ion-view view-title="活动" cache-view='true'>
    <ion-content>
        <div class="row">
            <div class="col">
                <i class="icon ion-ios-arrow-down"></i>
                <select ng-change="timeChange()" ng-model="pertime" ng-options="p.id as p.name for p in times">
                </select>
            </div>
            <div class="col">
                <i class="icon ion-ios-arrow-down"></i>
                <select ng-change="locationChange()" ng-model="locationID" ng-options="x.id as x.name for x in location">
                </select>
            </div>
            <div class="col">
                <i class="icon ion-ios-arrow-down"></i>
                <select ng-change="typeChange()" ng-model="type" ng-options="t.id as t.name for t in types">
                </select>
            </div>
        </div>
        <ion-list class="list">
            <ion-item class="item-icon-right item item-thumbnail-left" ng-repeat="event in events" type="item-text-wrap" href="#/event/{{event.id}}">
                <img ng-src="{{event.image}}">
                <h2>{{event.title}}</h2>
                <p>类型：{{event.category_name}}</p>
                <p>价格：{{event.fee_str}}</p>
                <p>地址：{{event.address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="center" ng-if="isFirst&&!events.length">
            <p>暂无活动，试试选择其他类型的活动吧</p>
            <img src="./img/nothing.jpg" alt="">
        </div>
    </ion-content>
</ion-view>
